:root {
    --primary: #7C997B;
    --secondary: #97b996;
    --tertiary: #156C28;
    --cream-100: rgb(243, 252, 218);
}

.forum-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.forum-title{
    background-color: rgb(115, 181, 145);
    color: var(--cream-100);
    position: relative;
    text-align: center;
    top: -3vh;
    padding: 10px;
}

.forum-description {
    color:#156C28;
    text-align: center;
}

.posts-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.posts-scroll-container {
    height: 75vh;
    width: 75vw;
    background:rgba(255,255,255,0.6);
    overflow: scroll;
}

.new-post-button{
    position: relative;
    background-color: #7C997B;
    color: var(--cream-100);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.post-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: .8vh 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(201, 220, 201);
    border-left: 5px solid #90bd85;
    border-radius: 5px;
    text-align: left;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.post-header-photo {
    border-radius: 30px;
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.poster-name {
    font-size: 13px;
    padding: 0;
}

.post-stamp {
    font-size: 13px;
    padding: 0;
    margin-left: 5px;
}

.post-type {
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 14px;
    padding: 2px 8px;
    margin-left: 10px;
}

.post-title {
    font-size: 20px;
    font-weight:bolder;
}

.post-content{
    max-height: 150px;
    overflow: hidden;
    font-size: 14px;
}
            /* VIEW POST AND COMMENTS */

/* .post-content{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
} */
.comment-title{
    background-color: rgb(115, 181, 145) ;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
    margin: 0px 300px 0px 300px;
}
.comments{
    background-color: rgba(215, 238, 214);
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 20px;
    padding-right: 20px;
}
.comment-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}

.view-post {
    position: relative;
    margin:5px;
    margin-left: 75px;
    width: 1450px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid #156C28;
}